* {
    direction: rtl;
}

body {
    /* font-family: 'M PLUS 1p', sans-serif; */
    font-family: 'Varela Round', sans-serif;
    text-align: right;
}

h1, h2, h3, h4, .h4, h5, .h5 {
    text-align: right;
}

.form-check {
    /* text-align: left; */
    text-align: right;
}

.form-check-input {
    margin-right: -1em;
}

.form-check-inline .form-check-input{
    margin-right: 0;
    margin-left: 0.3rem;       
}

.align-left {
    text-align: left;
}