<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <!-- 1 -->
            <label for="recipeName">שם המתכון</label>
            <input type="input" class="form-control" id="recipeName" placeholder="שם המתכון" ng-model="recipe.recipeName">
        </div>
        <div class="form-group col-md-3">
            <label>מי יוכל לצפות במתכון</label>
            <div class="form-group">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" name="isPublic" class="form-check-input" ng-value="true" ng-model="recipe.isPublic" ng-checked="recipe.isPublic">כולם
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" name="isPublic" class="form-check-input" ng-value="false" ng-model="recipe.isPublic" ng-checked="!recipe.isPublic" checked>רק אני
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label for="recipeImgUpload">תמונה ראשית</label>
                <!-- <input type="file" class="form-control-file" id="recipeImgUpload" ng-model="recipeImg" accept="image/*">       -->
                <input type="file" image-with-preview class="form-control-file" id="recipeImgUpload" ng-model="recipe.recipeImg" accept="image/*">
            </div>
        </div>                
    </div>
    <div class="form-row">
        <div class="form-group col-md-9">
            <!-- 2 -->
            <label for="sourceName">מקור</label>
            <input type="input" class="form-control" id="sourceName" ng-model="recipe.source" placeholder="מקור המתכון">

            <label for="sourceLink">קישור למקור</label>
            <input type="input" class="form-control" id="sourceLink" ng-model="recipe.sourceUrl" placeholder="קישור למתכון אם קיים">
        </div>

        <div class="form-group col-md-3">
            <img class="img-fluid" ng-src="{{recipe.recipeImg.src}}" alt="{{recipe.recipeName ? ' תמונה של'+recipe.recipeName : ''}}" srcset="">
        </div>
       
    </div>
    <!-- Accordion -->
    <div class="form-row">
        <div id="accordion" class="col-12 mt-2">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            תיאור כללי
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                            <label for="desc">תיאור רקע של המתכון. יוצג מתחת לכותרת</label>
                            <textarea class="form-control" id="desc" rows="3" ng-model="recipe.description"></textarea>
    
                            <div class="form-row">
                                    <div class="col-md-6">
                                        <label>מתאים לתזונה מסוג:</label>
                                        <checkbox-list></checkbox-list>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="dishType">סוג מנה</label>
                                        <select class="form-control" id="dishType" ng-model="recipe.dishType"> 
                                            <option>-- לשנות לבחירה מרובה --</option>
                                            <option value="{{$index}}" ng-repeat="dish in dishType">{{dish}}</option>
                                        </select>
                                    </div>
                                </div>
                            
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            פירוט שלבי ההכנה
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-lg-2 col-sm-1">
                                <label for="seq">#</label>
                                <input type="input" class="form-control" id="seq" ng-model="seq" placeholder="">
                            </div>
                            <div class="form-group col-lg-8 col-sm-11">
                                <label for="instruction">הוראה</label>
                                <input type="input" class="form-control" id="instruction" ng-model="instruction" placeholder="מה יבוצע בשלב זה">
                            </div>
                            <div class="form-group col-lg-2">
                                <label>&nbsp;</label><br/>
                                <input class="btn btn-primary" type="button" value="שמור שלב" ng-click="saveStepLocally()">
                            </div>
                        </div>
                        <div class="row" ng-repeat="instruction in recipe.instructions">
                                <div class="col-1">{{instruction.seq}}</div>
                                <div class="col-11">{{instruction.instruction}}</div>
                            </div>                        
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            פירוט הרכיבים
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-1 col-6">
                                <label for="quantity">כמות</label>
                                <input type="input" class="form-control" id="quantity" ng-model="quantity">
                            </div>
                            <div class="form-group col-md-2 col-6">
                                <label for="unit">יח' מידה</label>
                                <!-- <input type="input" class="form-control" id="unit" placeholder=""> -->
                                <select class="form-control" id="units" ng-model="unit">
                                    <option value="{{idx}}" ng-repeat="(idx, unit) in units">{{unit[idx]}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 col-4">
                                <label for="ingredient">רכיב</label>
                                <input type="input" class="form-control" id="ingredient" ng-model="ingredient" placeholder="מרשימה סגורה">
                            </div>
                            <div class="form-group col-md-4 col-4">
                                <label for="ingredientComm">הערה</label>
                                <input type="input" class="form-control" id="ingredientComm" ng-model="ingredientComm" placeholder="למשל: קצוץ, שהושרה 12 שעות וכד'">
                            </div>
                            <div class="form-group col-md-2 col-4">
                                <label>&nbsp;</label><br/>
                                <input class="btn btn-primary" type="button" value="שמור רכיב" ng-click="saveIngredientLocally()">
                            </div>
                        </div>
                        <div class="row" ng-repeat="an_ingredient in recipe.ingredients">
                            <div class="col-md-1">{{an_ingredient.quantity}}</div>
                            <div class="ccol-md-2">{{units[an_ingredient.unit][an_ingredient.unit]}}</div>
                            <div class="col-md-3">{{an_ingredient.ingredient}}</div>
                            <div class="col-md-6">{{an_ingredient.ingredientComm}}</div>
                        </div>                               
                        <div class="form-row">
                            <div class="form-group col-lg-1">&nbsp;
                            </div>
                            <div class="form-group col-lg-9">
                                <div class="help">למשל: כוס, גרם וכו' (לבחור מרשימה סגורה כדי שאפשר יהיה לעשות המרות)</div>
                            </div>
                            <div class="form-group col-lg-2">&nbsp;
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Accordion -->
    <div class="form-row mt-2">
        <div class="col-md-1 col-6">
            <!-- Show only on edit page -->
            <input class="btn btn-danger" type="button" value="מחק מתכון" ng-show="{{isEditRecipe}}" ng-click="alert('Are you sure?')">
        </div>
        <div class="col-md-11 col-6 align-left">
            <input class="btn btn-primary" type="button" value="שמור מתכון" ng-show="{{!isEditRecipe}}" ng-click="addRecipe()">
        </div>
        <div class="col-md-11 col-6 align-left">
            <input class="btn btn-primary" type="button" value="שמור מתכון" ng-show="{{isEditRecipe}}" ng-click="editRecipe()">
        </div>
    </div>
</form>