<div class="jumbotron">
    <h1>{{recipe.recipeName}}</h1>

    <div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <img class="card-img-top" ng-src="{{recipe.recipeImg ? recipe.recipeImg : placeHolderImg }}"
                alt="{{recipe.recipeName}}">
        </div>
        <div class="col-md-7">
            <div class="row">
                <div style="float:right" class="font-weight-bold">מקור:&nbsp;</div>
                <div style="float:right">
                    <a href="{{recipe.sourceUrl}}" target="_blank">{{recipe.source}}</a>
                </div>
            </div>
            <div class="row mt-2"> 
                    <div style="float:right" class="font-weight-bold">סוג המתכון:&nbsp;</div>               
                <div ng-repeat="dish in dishTypes">
                    {{dish}},&nbsp;
                </div>
            </div>               
            <div class="row mt-2"> 
                    <div style="float:right" class="font-weight-bold">רכיבים:&nbsp;</div>               
                <div ng-repeat="an_ingredient in recipe.ingredients">
                    <a href="#" target="_blank">{{an_ingredient.ingredient}}</a>
                    <span ng-hide="$last">,&nbsp;</span>
                </div>
            </div>               
            <div class="row mt-2"> 
                    <div style="float:right" class="font-weight-bold">מתאים ל:&nbsp;</div>               
                <div ng-repeat="diet in dietTypes">
                    <a href="#" target="_blank">{{diet}}</a>
                    <span ng-hide="$last">,&nbsp;</span>
                </div>
            </div>         
            <div class="row mt-2">                
                <div ng-repeat="descLine in recipe.description.split('\n')">
                    {{descLine}}
                </div>
            </div>

        </div>
    </div>
    </div>
    <div class="container mt-5" ng-show="recipe.ingredients.length > 0">
        <div class="row">
            <h3>רכיבים</h3>
        </div>
        <div class="row">
            <ul class="list-group list-group-flush w-100"><!--Why the width: 100% is required? -->
                <li ng-repeat="an_ingredient in recipe.ingredients" ng-class-odd="'striped'" class="list-group-item">
                    <div class="row" >
                        <div class="col-sm-3 text-nowrap">{{an_ingredient.quantity}}&nbsp;{{units[an_ingredient.unit].name}}</div>
                        <div class="col-sm-9 ">{{an_ingredient.ingredient}}&nbsp;{{an_ingredient.ingredientComm}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container mt-5" ng-show="recipe.instructions.length > 0">
        <div class="row">
            <h3>הוראות הכנה</h3>
        </div>
        <div class="row">
            <ul class="list-group list-group-flush  w-100">
                <li ng-repeat="instruction in recipe.instructions" ng-class-odd="'striped'" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-1">{{$index+1}}</div>
                        <div class="col-sm-11">{{instruction.instruction}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row text-left float-left">
            <button type="button" class="btn btn-primary" ng-click="backToList()">בחזרה לרשימה</button>
        </div>
    </div>
</div>