<form name="recipeForm" id="recipeForm">
    <div class="form-row">
        <div class="form-group col-md-6">
            <!-- 1 -->
            <label for="recipeName">שם המתכון</label>
            <input type="input" class="form-control" name="recipeName" id="recipeName" placeholder="שם המתכון" ng-model="recipe.recipeName" required>
            <div ng-show="recipeForm.recipeName.$touched && recipeForm.recipeName.$invalid" 
                class="mt-2 form-control alert alert-danger" role="alert">
                "שם המתכון" הוא שדה חובה
            </div>
        </div>
        <div class="form-group col-md-3">
            <label>מי יוכל לצפות במתכון</label>
            <div class="form-group">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" name="isPublic" class="form-check-input" ng-value="true" ng-model="recipe.isPublic" ng-checked="recipe.isPublic">כולם
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" name="isPublic" class="form-check-input" ng-value="false" ng-model="recipe.isPublic" ng-checked="!recipe.isPublic"
                            checked>רק אני
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label for="recipeImgUpload">תמונה ראשית</label>
                <!-- <input type="file" class="form-control-file" id="recipeImgUpload" ng-model="recipeImg" accept="image/*">       -->
                <input type="file" image-with-preview class="form-control-file" id="recipeImgUpload" ng-model="recipe.recipeImg" accept="image/*">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-9">
            <!-- 2 -->
            <label for="sourceName">מקור</label>
            <input type="input" class="form-control" id="sourceName" ng-model="recipe.source" placeholder="מקור המתכון">

            <label for="sourceLink">קישור למקור</label>
            <input type="input" class="form-control" id="sourceLink" ng-model="recipe.sourceUrl" placeholder="קישור למתכון אם קיים">
        </div>

        <div class="form-group col-md-3">
            <img class="img-fluid" ng-src="{{recipe.recipeImg.src}}" alt="{{recipe.recipeName ? ' תמונה של'+recipe.recipeName : ''}}"
                srcset="">
        </div>

    </div>
    <!-- Accordion -->
    <div class="form-row">
        <div id="accordion" class="col-12 mt-2">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            תיאור כללי
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <label for="desc">תיאור רקע של המתכון. יוצג מתחת לכותרת</label>
                        <textarea class="form-control" id="desc" rows="3" ng-model="recipe.description"></textarea>

                        <div class="form-row">
                            <div class="col-md-6">
                                <label>מתאים לתזונה מסוג:</label>
                                <checkbox-list></checkbox-list>
                            </div>
                            <div class="form-group col-md-6">
                                    <label>סוג מנה:</label>
                                <div class="form-check">
                                    <div class="form-row container">
                                        <div class="col-lg-3 col-md-4 col-6" ng-repeat="(key, dishType) in dishTypeList">
                                            <input class="form-check-input" type="checkbox" value="" id="{{'dish'+key}}" ng-model="dishTypes[key]">
                                            <label class="form-check-label" for="{{'dish'+key}}">{{dishType[key]}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            פירוט הרכיבים
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">                 
                        <div class="row" ng-repeat="an_ingredient in recipe.ingredients" ng-class-odd="'striped'">
                            <!-- <div class="row"> -->
                                <div class="col-sm-1 text-nowrap">
                                    <i class="fa fa-trash" aria-hidden="true" data-toggle="modal" data-target="#modalPopup" 
                                        ng-click="deleteIngredient(an_ingredient)"></i>
                                    <!-- <i class="fa fa-edit" aria-hidden="true" ng-click="setIngredientForEdit(an_ingredient)"></i> -->
                                </div>
                                <!-- <div class="col-11">
                                    <div class=" float-left">{{an_ingredient.quantity}}</div>
                                    <div class=" float-left">{{units[an_ingredient.unit][an_ingredient.unit]}}</div>
                                    <div class=" float-left">{{an_ingredient.ingredient}}</div>
                                    <div class=" float-left">{{an_ingredient.ingredientComm}}</div>
                                </div> -->
                            <!-- </div> -->
                            <div class="col-sm-1 text-nowrap">{{an_ingredient.quantity}}</div>
                            <div class="col-sm-2">{{units[an_ingredient.unit].name}}</div>
                            <div class="col-sm-4">{{an_ingredient.ingredient}}</div>
                            <div class="col-sm-4">{{an_ingredient.ingredientComm}}</div>
                        </div>
                        <div class="form-row"><hr></div>
                        <div class="form-row">
                            <div class="form-group-mb-0 col-md-1 col-6">
                                <label for="quantity">כמות</label>
                                <input type="input" class="form-control" id="quantity" ng-model="quantity">
                            </div>
                            <div class="form-group-mb-0 col-md-2 col-6">
                                <label for="unit">יח' מידה</label>
                                <!-- <input type="input" class="form-control" id="unit" placeholder=""> -->
                                <select class="form-control" id="units" ng-model="unit"
                                    ng-options="option.id as option.name for option in units">
                                    <option value="">-- בחר אחד --</option>
                                </select>
                            </div>
                            <div class="form-group-mb-0 col-md-4 col-sm-4">
                                <label for="ingredient">רכיב</label>
                                <!-- <input type="input" class="form-control" id="ingredient" ng-model="ingredient" placeholder="מרשימה סגורה"> -->
                                <select  class="form-control" name="repeatSelect" ng-show="ingredientExists"
                                ng-model="ingredientOpt" ng-change="addMissingIngredient()"
                                ng-options="option.id as option.name group by option.type for option in ingredientsList">
                                <option value="">-- בחר אחד --</option>
                                </select>
                                <input type="input" class="form-control" id="ingredient" ng-model="ingredient"  ng-show="!ingredientExists" placeholder="שם הרכיב">  
                              </div>
                            <div class="form-group-mb-0 col-md-3 col-sm-4">
                                <label for="ingredientComm">הערה</label>
                                <input type="input" class="form-control" id="ingredientComm" ng-model="ingredientComm" placeholder="למשל: קצוץ, שהושרה 12 שעות וכד'">
                            </div>
                            <div class="form-group-mb-0 col-md-2 col-sm-4">
                                <label>&nbsp;</label>
                                <br/>
                                <input class="btn btn-primary mx-1" type="button" value="שמור" ng-click="saveIngredientLocally()">
                                <input class="btn btn-primary" type="reset" ng-click="ingredientExists=true" value="נקה">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-1">&nbsp;
                            </div>
                            <div class="form-group col-md-9">
                                <small class="form-text text-muted">למשל: כוס, גרם וכו' (לבחור מרשימה סגורה כדי שאפשר יהיה לעשות המרות)</small>
                            </div>
                            <div class="form-group col-md-2">&nbsp;
                            </div>
                        </div>                               
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            פירוט שלבי ההכנה
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                            <div class="row" ng-repeat="instruction in recipe.instructions" ng-class-odd="'striped'">
                                    <div class="col-1 text-nowrap">
                                        <i class="fa fa-trash" aria-hidden="true" data-toggle="modal" data-target="#modalPopup"
                                            ng-click="deleteInstruction(instruction)"></i>
                                        <i class="fa fa-edit" aria-hidden="true" ng-click="setInstructionForEdit(instruction,'instructionForm')"></i>
                                    </div>
                                    <div class="col-1">{{instruction.seq}}</div>
                                    <div class="col-10">{{instruction.instruction}}</div>
                                </div>                        
                        <div class="form-row"><hr></div>
                        <div class="form-row" id="instructionForm">
                            <div class="form-group-mb-0 col-lg-2 col-md-1 col-sm-1">
                                <label for="seq">#</label>
                                <input type="input" class="form-control" id="seq" ng-model="seq" placeholder="">
                            </div>
                            <div class="form-group-mb-0 col-lg-8 col-md-9 col-sm-11">
                                <label for="instruction">הוראה</label>
                                <input type="input" class="form-control" id="instruction" ng-model="instruction" placeholder="מה יבוצע בשלב זה">
                            </div>
                            <div class="form-group-mb-0 col-lg-2 col-md-2">
                                <label>&nbsp;</label>
                                <br/>
                                <input class="btn btn-primary" type="button" value="שמור שלב" ng-click="saveStepLocally()">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-9">
                                <small class="form-text text-muted">טיפ: אין צורך לשמור על רציפות מספור. לדוגמא: הוראות 0,6,9 יוצגו כ-1,2,3</small>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>            
        </div>
    </div>

    <!-- Accordion -->
    <div class="form-row m-2" ng-show="{{isEditRecipe}}">
        <div class="col-md-1 col-6">
            <!-- Show only on edit page -->
            <input class="btn btn-danger align-right" type="button" value="מחק מתכון" 
            data-toggle="modal" data-target="#modalPopup"  ng-click="deleteRecipe()">

        </div>
        <div class="col-md-11 col-6 align-left">
            <input class="btn btn-primary" type="button" value="שמור מתכון"  ng-click="editRecipe()"
                ng-disabled="recipeForm.$invalid">
        </div>
    </div>
    <div class="form-row m-2" ng-show="{{!isEditRecipe}}">
        <div class="col align-left">
                <div ng-show="!recipeForm.$pristine && recipeForm.$invalid" 
                class="ml-2 form-control alert alert-danger" role="alert">
                "שם המתכון" הוא שדה חובה
            </div>
        </div>
        <div class="col align-left">
            <input class="btn btn-primary" type="button" value="שמור מתכון" ng-click="addRecipe()"
                ng-disabled="recipeForm.$invalid">
        </div>
    </div>
</form>
<popup-window></popup-window>